/* swiper */



.swiper {
  width: 100%;
  padding: 40px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
}
